<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>順位</th>
      <th>ニックネーム</th>
      <th>投稿数</th>
      <th>コメント数</th>
      <th>フォロワー数</th>
      <th>通報された数</th>
      <th>いいねされた数</th>
      <th>役に立ったを貰った総数</th>
    </tr>
  </thead>
  <tbody>
    <% customers.each_with_index do |customer, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <%= link_to(customer) do %>
            <%= image_tag customer.get_profile_image(50,50) %><br>
            <%= customer.nickname %>
            <% end %>
        </td>
        <td><i class="fas fa-book-open"></i><%= customer.sources.count %></td>
        <td><i class="fas fa-comment-dots"></i><%= customer.comments.count %></td>
        <td>
          <%= link_to  followers_customer_path(customer) do %>
            <i class="fas fa-users"></i>
            <%= customer.follower_customers.count %>
          <% end %>
        </td>
        <td>
          <%= link_to reporters_customer_path(customer) do %>
          <i class="fas fa-solid fa-bell"></i><%= customer.reporter_customers.count %>
          <% end %>
        </td>
        <td><%= Like.where(source_id: customer.sources.pluck(:id)).count %></td>
        <td><%= Useful.where(comment_id: customer.comments.pluck(:id)).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate customers, theme: 'bootstrap-5' %>
