<table class='table'>
  <tr><%= image_tag customer.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= customer.nickname %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= customer.introduction %></th>
  </tr>


  <!--フォロー、フォロワー一覧ページにジャンプ-->
  <tr>
    <th>follows</th>
    <th><%= link_to customer.following_customer.count, follows_customer_path(customer) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to customer.follower_customer.count, followers_customer_path(customer) %></th>
  </tr>
  
  <!--通報した人、通報された人一覧ページにジャンプ-->
  <tr>
    <th>あなたが通報した人</th>
    <th><%= link_to customer.reporting_customer.count, reporteds_customer_path(customer) %></th>
  </tr>
  <tr>
    <th>あなたを通報した人</th>
    <th><%= link_to customer.reporter_customer.count, reporters_customer_path(customer) %></th>
  </tr>

</table>

<div class='row'>
  <% if customer.nickname != "guestuser" %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block edit_customer_#{customer.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  
    <% if current_customer != customer %>
    
    <!--フォロー登録、解除ボタン-->
      <% if current_customer.following?(customer) %>
        <%= link_to 'フォロー外す', customer_follows_path(customer.id), method: :delete, class: "btn-sm btn-info ml-3 mr-5 mt-2" %>
      <% else %>
        <%= link_to 'フォローする', customer_follows_path(customer.id), method: :POST, class:"btn-sm btn-success ml-3 mr-5 mt-2" %>  
      <% end %>
    
    <!--通報登録、解除ボタン-->
      <% if current_customer.reporting?(customer) %>
        <%= link_to '通報解除', customer_reports_path(customer.id), method: :delete, class: "btn-sm btn-info mt-2" %>
      <% else %>
        <%= link_to '通報する', customer_reports_path(customer.id), method: :POST, class:"btn-sm btn-danger mt-2" %>
      <% end %>
      
    <!--投稿数グラフ-->
    <% else %>
      <%= link_to "チャート", chart_customer_path(customer),data: {turbolinks: false} %>
    <% end %>
  <% end %>
</div>
