<%
=begin %>

<div class="container px-5 px-sm-0">
  <div class='row'>
    <div class='col-md-12 text-center'>
      <%= render 'public/searches/form' %>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <h2>会員情報</h2>
      <%= render 'info', customer: current_customer %>
      <h2 class="mt-3">新しい情報ソース</h2>
      <%= render 'public/sources/form', source: @source %>
    </div>

    <div class="col-md-8 offset-md-1">
      
      <%= form_with model: @customer, url: customers_path, method: :get, local: true do |form| %>
       <%= form.select :keyword, [ ['投稿数が多い順', 'source'],['コメント数が多い順', 'comment'],['フォロワー数が多い順', 'follow'],['通報された数が多い順', 'report'],['いいねを貰った数が多い順', 'like'],['役に立ったを貰った数が多い順', 'useful']] %>
       <%= form.submit "並び替え", class: "btn btn-primary" %>
      <% end %>
  

      <h2>会員一覧</h2>
      <%= render 'index',customers: @customers %>
    </div>

  </div>

</div>
<%
=end %>


    

<div class='container'>
  <div class='row justify-content-center mx-auto'>
    <div class='col-md-12 text-center'>
      <div class="search_form">
      <%=  form_tag(search_path, method: :get) do %>
        <%= text_field_tag "keyword", "", placeholder: "キーワードから探す（会員名）", class:"col-lg-4 ml-10" %>
        <%= select_tag "model", options_for_select({ "会員" => "customer"}) %>
        <%= submit_tag "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
    <div class="col-md-12">
      <%= form_with model: @customer, url: customers_path, method: :get, local: true do |form| %>
       <%= form.select :keyword, [ ['投稿数が多い順', 'source'],['コメント数が多い順', 'comment'],['フォロワー数が多い順', 'follow'],['通報された数が多い順', 'report'],['いいねを貰った数が多い順', 'like'],['役に立ったを貰った数が多い順', 'useful']] %>
       <%= form.submit "並び替え", class: "btn btn-primary" %>
      <% end %>
      <h2>投稿者一覧</h2><%= link_to '戻る', 'javascript:history.back()' %>
      <%= render 'index',customers: @customers %>
    </div>
  </div>
</div>