<div class="row">
  <div class="col-md-12">
    <h2 class="text-center mb-4 pt-4", style="border-bottom: solid 2px #F0F0F0;">レビュー一覧</h2>
    <table class="table table-hover table-inverse table-bordered">
      <thead>
        <tr>
          <% unless controller.controller_name == 'customers' && controller.action_name == 'show' %>
            <th>投稿者</th>
          <% end %>
          <th>タイトル</th>
          <th>コメント</th>
          <th>評価</th>
          <th>対象者</th>
        </tr>
      </thead>
      <tbody>
        <% comments.each do |comment| %>
        <tr>
          <% unless controller.controller_name == 'customers' && controller.action_name == 'show' %>
            <td><%= link_to comment.customer.nickname, admin_customer_path(comment.customer), class: "text-dark" %></td>
          <% end %>
          <td><%= comment.title %></td>
          <td><%= comment.comment %></td>
          <td>
             <span class="mb-4" id="star-rate-<%= comment.id %>"></span><strong>  <%= comment.title %></strong>
            <script>
               $('#star-rate-<%= comment.id %>').empty();
              $('#star-rate-<%= comment.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: "<%= comment.rate %>",
                
              });
            </script>
          </td>
          <td><%= comment.recommended_rank_i18n %></td>
          <td><%= link_to "削除", admin_comment_path(comment), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginate comments %>
  </div>
</div>