<!--ログイン中なら表示する-->
<% if customer_signed_in? %>
  <% if controller.controller_name == 'customers' && controller.action_name == 'index' %>

    <div class="search_form">
      <%=  form_tag(search_path, method: :get) do %>
        <%= text_field_tag "keyword", "", placeholder: "キーワードから探す（会員名）", class:"col-lg-4 ml-10" %>
        <%= select_tag "model", options_for_select({ "会員" => "customer"}) %>
        <%= submit_tag "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  
  <% elsif  controller.controller_name == 'sources' && controller.action_name == 'index' %>
    <div class="search_form">
    <%=  form_tag(search_path, method: :get) do %>
      <%= select_tag "model", options_for_select({"情報ソース" => "source" }) %>
      <%= select_tag "method", options_for_select([["初心者","beginner_match"],["中級者","intermediate_match"],["上級者","senior_match"]]) %>
      <%= text_field_tag "keyword", "", placeholder: "キーワードから探す（情報ソース）", class:"col-lg-4 ml-10" %>
      <%= submit_tag "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% end %>
<% end %>


<%
=begin %>

<%= search_form_for @search, url: search_path do |f| %>
    <%= f.label :recommended_rank_eq, '推奨レベル', class: 'label text-white d-inline' %>
    <%= f.select :recommended_rank_eq, options_for_select({"初心者": 0, "中級者": 1, "上級者": 2}), include_blank: 'すべて', class: 'search-select' %>
  <div class="form-group my-2 my-lg-0 form-inline">
    <%#= f.search_field :tagname_cont, class:"form-control mr-sm-2", placeholder:"タグをいれてください" %>
    <%= f.search_field :purpose_cont, class:"form-control mr-sm-2", placeholder:"キーワードを入れてください" %>
    <%= f.submit "検索", class:"btn btn-outline-success" %>
  </div>
<% end %>
<%
=end %>