 <% receive = notice.receive send = notice.send %>

<div class="col-md-6.mx-auto">
  <div class="form-inline">
    <span></span>
      <%= link_to customer_path(receive) do %>
        <%= image_tag avatar_url(receive).to_s, class: "icon_mini" %>
        <strong>
          <%= receive.nickname %>さんが
       

        <%= case notice.action %>
        <%= when 'follow' then %>
            あなたをフォローしました
        <%= when 'like' then %>
        <%= link_to 'あなたの投稿', notice.source, style: "font-weight: bold;" %>
            にいいねしました
        <%= when 'comment' then %>
          <%= if notice.source.customer_id == visited.id %>
           <%= link_to "あなたの投稿", notice.source, style: "font-weight: bold;" %>
          <%= else %>
          <span>
            <%= link_to source_path(notice.source) do %>
              <%= image_tag avatar_url(notice.source.customer).to_s, class: "icon_mini" %>
              <strong>
                <%= notice.source.customer.nickname + 'さんの投稿' %>にコメントしました
        <p class="text-muted mb-0"><%= = Comment.find_by(id: notice.comment_id)&.comment %></p>
  <div class="small text-muted text-right"><%= time_ago_in_words(notice.created_at).upcase %></div>
    
  <hr>










<%
=begin %>

<% receive = notice.receive %>
<% source = notice.source %>

<ul>
    <li><%= link_to customer_path(receive) do %><strong><%=receive.nickname %><% end %></strong>さんが
    <strong><%= link_to source_path(notice.source_id) do %><%= source.title.truncate(20)%><% end %></strong>にコメントしました。
    <%= " (#{time_ago_in_words(notice.created_at)} 前)" %></li>

</ul>
<%
=end %>