<% if controller.controller_name != 'customers' %>
    <div class="search_form  text-center">
     
    <%= form_with url: admin_search_path, remote: true, method: :get do |f| %>
      <%= f.select :model, options_for_select({"情報ソース" => "source" }) %>
      <%= f.select :method, options_for_select([["すべて","all"],["初心者","beginner_match"],["中級者","intermediate_match"],["上級者","senior_match"]]) %>
      <%= f.select :sort , options_for_select([ ['指定なし', 'default'],['投稿が新しい順', 'new'],['評価が高い順', 'rate'],['いいねが多い順', 'like'],['コメント数が多い順', 'comment'],['閲覧数が多い順', 'watch']]) %>
      <%= f.text_field :keyword , placeholder: "キーワードから探す", class:"col-lg-4 ml-10" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %> 
    
  </div>
<% end %>


<% if params[:keyword].present? %>
  <h3 class="text-center  mb-4 pt-4" style="border-bottom: solid 2px #F0F0F0; color:blue;">「<%= @keyword %>」の検索結果<%= @records.count %>件中<%= @sources.count %>件表示</h3>
<% else %>
  <h2 class="text-center mb-4 pt-4", style="border-bottom: solid 2px #F0F0F0;">情報ソース一覧</h2>
<% end %>


<table class='table table-hover table-inverse table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <% unless controller.controller_name == 'customers' && controller.action_name == 'show' %>
        <th>投稿者</th>
      <% end %>
      <th>目的(難易度)</th>
      <th>評価コメント</th>
      <th>参考(URL)</th>
      <th>★</th>
      <th>♥</th>
      <th><i class="fas fa-comment-dots"></th>
      <th><i class="fas fa-solid fa-eye"></th>
      <th>投稿日</th>
    </tr>
  </thead>
  <tbody>
    <% sources.each_with_index do |source, i| %>
      <tr>
        <td><%= source.id %></td>
        <% unless controller.controller_name == 'customers' && controller.action_name == 'show' %>
          <td><%= link_to admin_customer_path(source.customer) do %>
            <%= image_tag source.customer.get_profile_image(50,50) %><br>
            <%= source.customer.nickname %>
            <% end %>
          </td>
        <% end %>
        <td>
        <%= link_to admin_source_path(source) do %>
          <% if params[:keyword].present? %>
            <strong><%= emphasize_keyword(source.purpose.truncate(20, omission: '...'), @keyword) %></strong>
          <% else %>
            <strong><%= source.purpose.truncate(20, omission: '...') %></strong>
          <% end %>
        <% end %>
        <% if source.total_recommended_rank == 0 %>
          (初)
        <% elsif source.total_recommended_rank == 1 %>
          (中)
        <% elsif source.total_recommended_rank == 2 %>
          (上)
        <% end %>
        </td>
        
        <td><%= source.performance_review %></td>
        <td class="test"><%= text_url_to_link(h(source.source)).html_safe %>
        <!--星評価表示機能-->
        <td>
        <div class="relative-source-average">
            <span class="text-red"><%= source.total_rate %></span>
        </div>
        </td>
        <td><%= source.likes.size %></td>
            
        <td>
        <!--コメント件数表示-->
          <%= link_to admin_source_path(source.id) do %>
                <%= source.comments.size %>
          <% end %>
        </td>
        <td></i><%= source.view_counts.count %></td>
        <td><%= source.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate sources, theme: 'bootstrap-5' %>