<h2>ジャンル検索結果</h2>
<table class='table table-hover table-inverse'>
  <%= render 'layouts/errors', obj: @source %>
  <thead>
    <tr>
      <th>目的</th>
      <th>参考にした情報ソース(URL)</th>
      <th>評価コメント</th>
      <th>情報ソースが古い、誤りがある場合のコメント</th>
      <th>Rate</th>
      <th>recommended_rank</th>
      <th>ジャンル</th>
    </tr>
  </thead>
  <tbody>
    <% @sources.each do |source| %>
    <tr>
      <td>
        <%= link_to customer_path(source.customer.id) do %>
          <%= image_tag source.customer.get_profile_image(50,50) %>
        <% end %>
      </td>
      <td><%= link_to source_path(source.id) do %><%= source.title %><% end %></td>
      <td><%= source.body %></td>
      <td><%= link_to source.genre, search_source_path(keyword: source.genre) %></td>
      <!--星評価表示機能-->
      <td>
      <div class="relative-source-rate">
        <span>評価：</span>
        <span id="star-rate-<%= source.id %>"></span>
        <script>
          $('#star-rate-<%= source.id %>').raty({
            size: 36,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: "<%= source.rate %>",
          });
        </script>
        <%= source.rate %>
      </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>