<%= form_with model:source,local:true do |f| %>
  <%= render 'layouts/errors', obj: f.object %>
  <div class="form-group">
    <%= f.label :purpose, class:"form-label" %>
    <%= f.text_field :purpose, class: 'form-control source_title' %>
  </div>

  <div class="form-group">
    <%= f.label :source, class:"form-label" %>
    <%= f.text_field :source, class: 'form-control source_title',placeholder: "https://www.google.com" %>
  </div>

  <div class="form-group">
    <%= f.label :performance_review, class:"form-label" %>
    <%= f.text_area :performance_review, class: 'form-control source_body' %>
  </div>

  <div class="form-group">
    <%= f.label :"内容が古い、誤りがある場合のコメント" %>
    <%= f.text_area :note, class: 'form-control source_body' %>
  </div>


<!--★評価-->
<div class="form-group field" id="star">
      <%= f.label :rate,  "★評価 (※必須)" ,id: "e"%>
      <%= f.hidden_field :rate, id: :rate_star %>
  </div>
<div>
<% unless source.id.nil?  %>
  <script>
      $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'source[rate]',
          half: true,
          score: <%= source.rate %>
      });
  </script>
<% else %>
  <script>
      $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'source[rate]',
          half: true,
      });
  </script>
<% end %>
</div>
  <div class="form-group">
      <%= f.label :recommended_rank,  "推奨する対象者" %>
      <%= f.select :recommended_rank, [["初心者", 0], ["中級者", 1], ["上級者", 2]], include_blank: "選択して下さい" %>
  </div>

  <div class="form-group">
    <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
    <%= f.text_field :tagnames ,class:"form-control",placeholder: "１つのタグは１０字以内にしてください" %>
    <p>※下書き保存では、タグの情報は保存されません。</p>
  </div>
  
  <div class="form-group">
    <% if source.is_public  == true %>
      <%= f.submit '更新', :name => 'public', class: 'mr-5 btn btn-sm btn-warning text-white' %>
    <% else %>
      <%= f.submit '情報ソースを公開', :name => 'public', class: 'mr-5 btn btn-sm btn-warning text-white' %>
      <%= f.submit '下書きに保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
    <% end %>
  </div>
<% end %>


