<% if customer_signed_in? && controller.controller_name != 'customers' %>
    <div class="search_form  text-center">
    <%=  form_tag(search_path, method: :get, remote: true) do %>
      <%= select_tag "model", options_for_select({"情報ソース" => "source" }) %>
      <%= select_tag "method", options_for_select([["すべて","all"],["初心者","beginner_match"],["中級者","intermediate_match"],["上級者","senior_match"]]) %>
      <%= select_tag "sort" , options_for_select([ ['指定なし', 'default'],['投稿が新しい順', 'new'],['評価が高い順', 'rate'],['いいねが多い順', 'like'],['コメント数が多い順', 'comment'],['閲覧数が多い順', 'watch']]) %>
      <%= text_field_tag "keyword", "", placeholder: "キーワードから探す", class:"col-lg-4 ml-10" %>
      <%= submit_tag "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<div id="search_buttons" >
 <%= render 'public/sources/child_index', sources: sources %>
</div>