<table class='table table-hover table-inverse'>
  <%#= render 'layouts/errors', obj: @source %>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>目的</th>
      <th>参考(URL)</th>
      <th>評価コメント</th>
      <th>評価</th>
      <th>いいね</th>
      <th>コメント数</th>
      <th>閲覧数</th>
      <th>投稿日</th>
      <th>難易度</th>
      <th>タグ</th>
    </tr>
  </thead>
  <tbody>
    <% sources.each do |source| %>
      <tr>
        <td><%= link_to(source.customer) do %>
          <%= image_tag source.customer.get_profile_image(50,50) %><br>
          <%= source.customer.nickname %>
          <% end %>
        </td>

        <td><%= link_to source.purpose, source_path(source.id) %></td>
        
        <td><%= text_url_to_link(h(source.source)).html_safe %>
        <td><%= source.performance_review %></td>
        <%
=begin %>
        <td><%= link_to source.jenre, search_source_path(keyword: source.jenre) %></td>
<%
=end %>

        <!--星評価表示機能-->
        <td>
        <div class="relative-source-rate">
          <span id="star-rate-<%= source.id %>"></span>
          <script>
            $('#star-rate-<%= source.id %>').empty();
            $('#star-rate-<%= source.id %>').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: "<%= source.rate %>",
            });
          </script>
        </div>
        </td>
        <!--いいね機能追加-->
            <%= render 'public/likes/likes', source: source %>
        <!--コメント件数表示-->

        <td>
          <%= link_to source_path(source.id) do %>
                <i class="fas fa-comment-dots"></i><%= source.comments.size %>
          <% end %>
        </td>
        <td><i class="fas fa-solid fa-eye"></i><%= source.view_counts.count %></td>
        <td><%= source.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= source.recommended_rank_i18n %></td>
        <td><i class="fas fa-tag"></i><%= source.tags.map(&:name).join(', ') %></td>


      </tr>
    <% end %>
  </tbody>
</table>