<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <%= render 'public/searches/form' %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <%= form_with model: @source, url: sources_path, method: :get, local: true do |form| %>
       <%= form.select :keyword, [ ['投稿が新しい順', 'new'],['評価が高い順', 'rate'],['いいねが多い順', 'like'],['コメント数が多い順', 'comment'],['閲覧数が多い順', 'watch']] %>
       <%= form.submit "並び替え", class: "btn btn-primary" %>
      <% end %>
      <h2>情報ソース一覧</h2><%= link_to '戻る', 'javascript:history.back()' %>
    </div>
  </div>
      
    
      <%= render 'index', sources: @sources%>
</div>