<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
        <!--検索対象モデルがCustomerの時 -->
        <% if @model == "customer" %>
        <h3>会員 "<%= @content %>" の検索結果</h3>
          <%= render 'public/customers/index', customers: @records %>
        <!--検索対象モデルがSourceの時 -->
        <% else %>
        <h3>情報ソース "<%= @content %>" の検索結果</h3>
          <%= render 'public/sources/index', sources: @records %>
        <% end %>
    </div>
  </div>
</div>

<h1>検索結果<h1>
　
<%= form_with model: @source, url: sources_path, method: :get, local: true do |form| %>
    <%= form.select :keyword, [ ['投稿が新しい順', 'new'],['評価が高い順', 'rate'],['いいねが多い順', 'like'],['コメント数が多い順', 'comment'],['閲覧数が多い順', 'watch']] %>
    <%= form.submit "並び替え", class: "btn btn-primary" %>
<% end %>
　
- @posts.each do |post|
  p
    = link_to post.user.email, user_path(post.user.id)
    br
    = link_to post.title, post_path(post.id)
    br
    = post.created_at
    br
    - if user_signed_in?
      - if post.favorited_by?(current_user)
        = link_to "いいね: #{post.favorites.count}", post_favorites_path(post.id), method: :delete
      - else
        = link_to "いいね: #{post.favorites.count}", post_favorites_path(post.id), method: :post
    - else
      = post.favorites.count