<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
      <%= render 'public/customers/info' ,customer:@customer %>
      <h2 class="mt-3">New source</h2>
      <%= render 'form', source: @newsource %>
    </div>
    <div class='col-md-8 offset-md-1'>

  		<h3 class="mt-2"情報ソース詳細</h3>
  		  <div class="container mt-5">
  		    <div class="card mx-auto" style="width: 30rem;">
            <%= image_tag @source.customer.get_profile_image(300,300) %>
            <div class="ml-3">
              <h5 class="card-title">投稿者: <%= link_to @source.customer.nickname, @source %><br>
              投稿日: <%= @source.created_at.strftime('%Y/%m/%d') %></h5>
              
            </div>
            <div class="">
              <h5 class="card-title">評価: 
              <!--<div class="relative-source-rate">-->
                <span id="star-rate-<%= @source.id %>"></span>
                <script>
                  $('#star-rate-<%= @source.id %>').empty();
                  $('#star-rate-<%= @source.id %>').raty({
                    size: 36,
                    starOff: "<%= asset_path('star-off.png') %>",
                    starOn: "<%= asset_path('star-on.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    half: true,
                    readOnly: true,
                    score: "<%= @source.rate %>",
                  });
                </script>
                <%= @source.rate %>(0)
              <!--</div>-->
              </h5>
            </div>
            <div class="card-body">
              <h5 class="card-title">推奨する対象者: <%= @source.recommended_rank_i18n %></h5>
              <p class="card-text"></p>
            </div>
          
            <div class="card-body">
              <h5 class="card-title">目的: <%= @source.purpose %></h5>
              <p class="card-text"></p>
            </div>
            <div class="card-body">
              <h5 class="card-title">参考にした情報ソース(URL): <%= text_url_to_link(h(@source.source)).html_safe %></h5>
              <p class="card-text"></p>
            </div>
            <div class="card-body">
              <h5 class="card-title">評価コメント: <%= @source.performance_review %></h5>
              <p class="card-text"></p>
            </div>
            <div class="card-body">
              <h5 class="card-title">備考: <%= @source.note %></h5>
              <p class="card-text"></p>
            </div>
            <div class="card-body">
              <% if @source.liked_by?(current_customer) %>
                <%= link_to source_likes_path(@source),style: "color:red", method: :delete do %>
                  ♥(<%= @source.likes.count %>)
                <% end %>
              <% else %>
                <%= link_to source_likes_path(@source),style: "color:blue", method: :post do %>
                  ♥(<%= @source.likes.count %>)
                <% end %>
              <% end %>
                レビュー件数(<%= @source.comments.count %>)
            </div>
            <div class="card-body">
              <% if @source.customer_id == current_customer.id %>
                <%= link_to '編集', edit_source_path(@source), class: "btn btn-sm btn-success edit_source_#{@source.id} mr-3" %>
                <%= link_to '削除', @source, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_source_#{@source.id}"%>
              <% end %>
           </div>
<%
=begin %>  		  
          <% if @source.comments.exists? %>
          <tr>
            <th>情報ソースに対してのコメント一覧</th>
          <tr>
          
          <tr>
            <th>レビューア</th>
            <th>コメント</th>
            <th>評価</th>
            <th>推奨する対象者</th>
            <th></th>
          <tr>
          </thead>
          
          <tbody>
          
          <% @source.comments.each do |comment| %>
            <tr>
                <td><p><%= image_tag comment.customer.get_profile_image(100,100) %><br>
                    <%= link_to comment.customer.nickname, @source.customer %></p>
                </td>
                <td><%= comment.comment %><br>
                <% if comment.customer == current_customer %>
                  <%= link_to "削除", source_comment_path(comment.source, comment), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
                </td>
                <td>
                <span id="star-rate-<%= comment.id %>"></span>
                    <script>
                       $('#star-rate-<%= comment.id %>').empty();
                      $('#star-rate-<%= comment.id %>').raty({
                        size: 36,
                        starOff: "<%= asset_path('star-off.png') %>",
                        starOn: "<%= asset_path('star-on.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        half: true,
                        readOnly: true,
                        score: "<%= comment.rate %>",
                        
                      });
                    </script>
                </td>
                <td>
                  <%= comment.recommended_rank_i18n %>
                </td>
                <% if comment.customer == current_customer %>
                <% else %>
                  <!--役に立った機能追加-->
                  <% if comment.usefuld_by?(current_customer) %>
                    <td>
                      <%= link_to source_comment_useful_path(comment.source, comment), method: :delete, class: "btn btn-light" do %>
                        役に立った解除
                      <% end %>
                    </td>
                  <% else %>
                    <td>
                      <%= link_to source_comment_usefuls_path(comment.source,comment), method: :post, class: "btn btn-light" do %>
                        役に立った
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
                
                <%= comment.usefuls.count %>人が役に立ったと答えています
            </tr>
          <% end %>
            
        </tbody>
        <% end %>
      </table>

      <!--コメント機能-->
        <% if @source.customer != current_customer %>
          <div>
            <%= form_with model: [@source, @comment] do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <div class="relative-comment-rate">
                  <%= f.label :rate,  "★評価 (※必須)" ,id: "e"%>    
                <div id="star-rate">
                  <%= f.hidden_field :rate, id: :rate_star %>
                </div>
                <script>
                  $('#star-rate').empty();
                  $('#star-rate').raty({
                    size: 36,
                    starOff: "<%= asset_path('star-off.png') %>",
                    starOn: "<%= asset_path('star-on.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'comment[rate]',
                    half: true,
                  });
                </script>
                <%= @comment.rate %>
                
              </div>
              <div class="form-group">
                <%= f.label :recommended_rank,  "推奨する対象者" %>
                <%= f.select :recommended_rank, Source.recommended_ranks_i18n.invert %>
              </div>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
        <% end %>
          
    </div>
  </div>
</div>
<%
=end %>










<%
=begin %>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
      <%= render 'public/customers/info' ,customer:@customer %>
      <h2 class="mt-3">New source</h2>
      <%= render 'form', source: @newsource %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>情報ソース詳細</h2>
  		  <% if @source.customer_id == current_customer.id %>
          <%= link_to '編集', edit_source_path(@source), class: "btn btn-sm btn-success edit_source_#{@source.id} mr-3" %>
          <%= link_to '削除', @source, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_source_#{@source.id}"%>
        <% end %>
  		<table class='table'>
  		  <thead>
          <tr>
            <th>投稿者</th>
            <th><%= link_to(@source.customer) do %>
                  <%= image_tag @source.customer.get_profile_image(100,100) %><br>
                  <%= @source.customer.nickname %>
                <% end %>
            </th>
          </tr>
          <tr>
            <th>目的</th>
            <th><%= link_to @source.purpose, @source %></th>
          </tr>
          <tr>
            <th>参考にした情報ソース(URL)</th>
            <th><%= text_url_to_link(h(@source.source)).html_safe %></th>
          </tr>
          <tr>
            <th>評価コメント</th>
            <th><%= @source.performance_review %></th>
          </tr>
          <tr>
            <th>内容が古い、誤りがある場合のコメント</th>
            <th><%= @source.note %></th>
          </tr>
          <tr>
            <th>評価</th>
                <!--星評価表示機能-->
            <th>
            <div class="relative-source-rate">
              <span id="star-rate-<%= @source.id %>"></span>
              <script>
                $('#star-rate-<%= @source.id %>').empty();
                $('#star-rate-<%= @source.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: "<%= @source.rate %>",
                });
              </script>
              <%= @source.rate %>
            </div>
            </th>
          </tr>
          <tr>
            <th>推奨する対象者</th>
            <th><%= @source.recommended_rank_i18n %></th>
          </tr>
          
          <tr>
            <th>いいねの数</th>
            <% if @source.liked_by?(current_customer) %>
            <th>
              <%= link_to source_likes_path(@source),style: "color:red", method: :delete do %>
                ♥<%= @source.likes.count %>
              <% end %>
            </th>
            <% else %>
            <th>
              <%= link_to source_likes_path(@source),style: "color:blue", method: :post do %>
                ♥<%= @source.likes.count %>
              <% end %>
            </th>
          <% end %>
            
          </tr>
          <tr>
            <th>レビュー件数</th>
            <th><p><%= @source.comments.count %></p></th>
          </tr>
          <br>
          <% if @source.comments.exists? %>
          <tr>
            <th>情報ソースに対してのコメント一覧</th>
          <tr>
          
          <tr>
            <th>レビューア</th>
            <th>コメント</th>
            <th>評価</th>
            <th>推奨する対象者</th>
            <th></th>
          <tr>
          </thead>
          
          <tbody>
          
          <% @source.comments.each do |comment| %>
            <tr>
                <td><p><%= image_tag comment.customer.get_profile_image(100,100) %><br>
                    <%= link_to comment.customer.nickname, @source.customer %></p>
                </td>
                <td><%= comment.comment %><br>
                <% if comment.customer == current_customer %>
                  <%= link_to "削除", source_comment_path(comment.source, comment), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
                </td>
                <td>
                <span id="star-rate-<%= comment.id %>"></span>
                    <script>
                       $('#star-rate-<%= comment.id %>').empty();
                      $('#star-rate-<%= comment.id %>').raty({
                        size: 36,
                        starOff: "<%= asset_path('star-off.png') %>",
                        starOn: "<%= asset_path('star-on.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        half: true,
                        readOnly: true,
                        score: "<%= comment.rate %>",
                        
                      });
                    </script>
                </td>
                <td>
                  <%= comment.recommended_rank_i18n %>
                </td>
                <% if comment.customer == current_customer %>
                <% else %>
                  <!--役に立った機能追加-->
                  <% if comment.usefuld_by?(current_customer) %>
                    <td>
                      <%= link_to source_comment_useful_path(comment.source, comment), method: :delete, class: "btn btn-light" do %>
                        役に立った解除
                      <% end %>
                    </td>
                  <% else %>
                    <td>
                      <%= link_to source_comment_usefuls_path(comment.source,comment), method: :post, class: "btn btn-light" do %>
                        役に立った
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
                
                <%= comment.usefuls.count %>人が役に立ったと答えています
            </tr>
          <% end %>
            
        </tbody>
        <% end %>
      </table>

      <!--コメント機能-->
        <% if @source.customer != current_customer %>
          <div>
            <%= form_with model: [@source, @comment] do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <div class="relative-comment-rate">
                  <%= f.label :rate,  "★評価 (※必須)" ,id: "e"%>    
                <div id="star-rate">
                  <%= f.hidden_field :rate, id: :rate_star %>
                </div>
                <script>
                  $('#star-rate').empty();
                  $('#star-rate').raty({
                    size: 36,
                    starOff: "<%= asset_path('star-off.png') %>",
                    starOn: "<%= asset_path('star-on.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'comment[rate]',
                    half: true,
                  });
                </script>
                <%= @comment.rate %>
                
              </div>
              <div class="form-group">
                <%= f.label :recommended_rank,  "推奨する対象者" %>
                <%= f.select :recommended_rank, Source.recommended_ranks_i18n.invert %>
              </div>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
        <% end %>
          
    </div>
  </div>
</div>
<%
=end %>