
<div class="container">
  <div class="row my-5">
    <div class="col-md-7 border border-gray">
<%
=begin %>
<%
=end %>
      <% object = LinkThumbnailer.generate( @source.source ) %>
      <%= image_tag object.images.first.src.to_s, :width => '600' %><br><br>
      参考URL:<%= text_url_to_link(h(@source.source)).html_safe %>.truncate(20, omission: '...')
    </div>
    <div class="col-md-5">
      <h4 class="mb-2"><strong>目的:<%= @source.purpose %></strong>
      <p>
      <% if @source.comments.size == 0 %>
        (<%= @source.recommended_rank_i18n %>)
      <% else %>
        <% if @source.comments.average(:recommended_rank).to_f.round(1) <= 0.6 %>
          (初)
        <% elsif @source.comments.average(:recommended_rank).to_f.round(1) >= 1.6 %>
          (上)
        <% else %>
          (中)
        <% end %>
      <% end %></p></h4>
        評価:
      <span id="star-average-<%= @source.id %>" class="d-inline"></span>
          <% if @source.comments.size == 0 %>
            <span class="text-red"><%= @source.rate %></span>
            <script>
              $('#star-average-<%= @source.id %>').empty();
                $('#star-average-<%= @source.id %>').raty({
                size:36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: "<%= @source.rate %>",
              });
              
            </script>
          <% else %>
              <span class="text-red"><%= @source.comments.average(:rate).to_f.round(1) %></span>
              <script>
               $('#star-average-<%= @source.id %>').empty();
              $('#star-average-<%= @source.id %>').raty({
                size:36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: "<%= @source.comments.average(:rate).to_f.round(1) %>",
              });
              </script>
          <% end %>
        <span>(<%= @source.comments.size %>)</span>
        <div style="border-bottom: solid 1px #F0F0F0;">閲覧数:<i class="fas fa-solid fa-eye"></i><%= @source.view_counts.size %></div>
      <div class="mt-3">タグ:
        <i class="fas fa-search-location"></i>
                <% if @source_tags.present? %>
                <% @source_tags.each do |tag| %>
                  <%= link_to sources_search_tag_path(tag_id: tag.id) do%>
                    <span class="btn btn-outline-info">
                      <%= tag.tagname %><%="(#{tag.sources.count})" %>
                  <% end %>
                    </span>
                <% end %>
                <% else %>タグはありません。
                <% end %>
      </div>
        いいね:
        <%= render 'public/likes/likes', source: @source %><br><br>
        評価コメント
      <div class="border border-secondary rounded mb-4">
        <div class="source-component">
          <p><%= @source.performance_review %></p>
        </div>
      </div>
      <% if @source.note.present? %>
      内容が古い、誤りがある場合のコメント
      <div class="border border-secondary rounded mb-4">
        <div class="source-component">
          <p><%= @source.note %></p>
        </div>
      </div>
      <% end %>
      <div style="display: flex; justify-content: space-between">
        <% if @source.customer_id == current_customer.id %>
    		  <% if @source.is_public == false %>
            <%#= button_to '情報ソースを公開', source_path(@source.id, {public: true}), {method: :patch , class: 'mr-5 btn btn-sm btn-warning text-white'} %>
            <%= button_to '下書きを編集', edit_source_path(@source.id), {method: :get ,params: {draft: true}, class: "btn btn-sm btn-success"} %>
          <% else %>
            <%= link_to '編集', edit_source_path(@source, {public: true}), class: "btn btn-sm btn-success edit_source_#{@source.id} mr-3" %>
          <% end %>
          <%= link_to '削除', @source, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_source_#{@source.id}"%>
        <% end %>
      </div>
    </div>
  </div>
</div>










<%
=begin %>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 offset-md-1'>
  		<h2>情報ソース詳細</h2><%= link_to '戻る', 'javascript:history.back()' %>
  		  <% if @source.customer_id == current_customer.id %>
    		  <% if @source.is_public == false %>
            <%= button_to '情報ソースを公開', source_path(@source.id, {public: true}), {method: :patch , class: 'mr-5 btn btn-sm btn-warning text-white'} %>
            <%= button_to '下書きを編集', edit_source_path(@source.id), {method: :get ,params: {draft: true}, class: "btn btn-sm btn-success"} %>
          <% else %>
            <%= link_to '編集', edit_source_path(@source, {public: true}), class: "btn btn-sm btn-success edit_source_#{@source.id} mr-3" %>
          <% end %>
          <%= link_to '削除', @source, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_source_#{@source.id}"%>
        <% end %>
  		<table class='table'>
  		  <thead>
  		    投稿日: <%= @source.created_at.strftime('%Y/%m/%d') %>
          <tr>
            <th>サムネイル</th>
            <th><% 
                object = LinkThumbnailer.generate( @source.source ) 
                %><%= image_tag object.images.first.src.to_s, :width => '200' %></th>
          </tr>
          <tr>
            <th>投稿者</th>
            <th><%= link_to(@source.customer) do %>
                  <%= image_tag @source.customer.get_profile_image(100,100), class: "rounded-circle img-thumbnail" %><br>
                  <%= @source.customer.nickname %>
                <% end %>
            </th>
          </tr>
          <tr>
            <th>目的</th>
            <th><%= @source.purpose %></th>
          </tr>
          <tr>
            <th>参考にした情報ソース(URL)</th>
            <th><%= text_url_to_link(h(@source.source)).html_safe %></th>
          </tr>
          <tr>
            <th>評価コメント</th>
            <th><%= @source.performance_review %></th>
          </tr>
          <tr>
            <th>内容が古い、誤りがある場合のコメント</th>
            <th><%= @source.note %></th>
          </tr>
          <tr>
            <th>評価</th>
            <th>
            <span id="star-average-<%= @source.id %>"></span>
          <% if @source.comments.size == 0 %>
            <span class="text-red"><%= @source.rate %></span>
            <script>
              $('#star-average-<%= @source.id %>').empty();
                $('#star-average-<%= @source.id %>').raty({
                size:36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: "<%= @source.rate %>",
              });
              
            </script>
          <% else %>
              <span class="text-red"><%= @source.comments.average(:rate).to_f.round(1) %></span>
              <script>
               $('#star-average-<%= @source.id %>').empty();
              $('#star-average-<%= @source.id %>').raty({
                size:36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: "<%= @source.comments.average(:rate).to_f.round(1) %>",
              });
              </script>
          <% end %>
              <span>(<%= @source.comments.count %>)</span>
            </th>
          </tr>
          <tr>
            <th>対象者</th>
            <th>
                <% if @source.comments.size == 0 %>
                  <%= @source.recommended_rank_i18n %>者向け
                <% else %>
                  <% if @source.comments.average(:recommended_rank).to_f.round(1) <= 0.6 %>
                    初心者向け
                  <% elsif @source.comments.average(:recommended_rank).to_f.round(1) >= 1.6 %>
                    上級者向け
                  <% else %>
                    中級者向け
                  <% end %>
                <% end %>
            </th>
          </tr>
          
          <tr>
            <th>いいねの数</th>
            <th><%= render 'public/likes/likes', source: @source %></th>
          </tr>
          <tr>
            <th>コメント件数</th>
            <th><p style= "color:blue"><i class="fas fa-comment-dots"></i><%= @source.comments.size %></p></th>
          </tr>
          <tr>
            <th>閲覧数</th>
            <th><i class="fas fa-solid fa-eye"></i><%= @source.view_counts.count %></th>
          </tr>
          <tr>
            <th>タグ</th>
            <th><i class="fas fa-search-location"></i><br>
                <% if @source_tags.present? %>
                <% @source_tags.each do |tag| %>
                  <%= link_to sources_search_tag_path(tag_id: tag.id) do%>
                    <span class="btn btn-outline-info">
                      <%= tag.tagname %><%="(#{tag.sources.count})" %>
                  <% end %>
                    </span>
                <% end %>
                <% else %><p>タグはありません。</p>
                <% end %></th>
          </tr>
          <br>
          <!--コメント部分-->
          <% if @source.comments.exists? %>
          <tr>
            <th>情報ソースに対してのコメント一覧</th>
          <tr>
          <tr>
            <th>レビューア</th>
            <th>コメント</th>
            <th>評価</th>
            <th>対象者</th>
            <th></th>
          <tr>
          </thead>
          
          <tbody>
          
          <% @source.comments.each do |comment| %>
            <tr>
                <td><strong><%= comment.title %></strong>
                  <p><%= image_tag comment.customer.get_profile_image(100,100) %><br>
                    <%= link_to comment.customer.nickname, @source.customer %></p>
                     <%= comment.usefuls.size %>人が役に立ったと答えています
                </td>
                <td><%= comment.comment %><br>
                <% if comment.customer == current_customer %>
                  <%= link_to "削除", source_comment_path(comment.source, comment), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
                </td>
                <td>
                <span id="star-rate-<%= comment.id %>"></span>
                    <script>
                       $('#star-rate-<%= comment.id %>').empty();
                      $('#star-rate-<%= comment.id %>').raty({
                        size: 36,
                        starOff: "<%= asset_path('star-off.png') %>",
                        starOn: "<%= asset_path('star-on.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        half: true,
                        readOnly: true,
                        score: "<%= comment.rate %>",
                        
                      });
                    </script>
                </td>
                <td>
                  <%= comment.recommended_rank_i18n %>向け
                </td>
                <% if comment.customer == current_customer %>
                <% else %>
                  <!--役に立った機能追加-->
                  <% if comment.usefuld_by?(current_customer) %>
                    <td>
                      <%= link_to source_comment_useful_path(comment.source, comment), method: :delete, class: "btn btn-light" do %>
                        役に立った解除
                      <% end %>
                    </td>
                  <% else %>
                    <td>
                      <%= link_to source_comment_usefuls_path(comment.source,comment), method: :post, class: "btn btn-light" do %>
                        役に立った
                      <% end %>
                    </td>
                  <% end %>
                <% end %>

            </tr>
          <% end %>
            
        </tbody>
        <% end %>
      </table>

      <!--コメント機能-->
        <% if @source.customer != current_customer %>
          <div>
            <%= form_with model: [@source, @comment] do |f| %>
              <%= f.text_field :title, rows: '5', placeholder: "タイトル" %><br><br>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <div class="relative-comment-rate">
                  <%= f.label :rate,  "★評価 (※必須)" ,id: "e"%>    
                <div id="star-rate">
                  <%= f.hidden_field :rate, id: :rate_star %>
                </div>
                <script>
                  $('#star-rate').empty();
                  $('#star-rate').raty({
                    size: 36,
                    starOff: "<%= asset_path('star-off.png') %>",
                    starOn: "<%= asset_path('star-on.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'comment[rate]',
                    half: true,
                  });
                </script>
                <%= @comment.rate %>
                
              </div>
              <div class="form-group">
                <%= f.label :recommended_rank,  "おすすめの対象者" %>
                <%= f.select :recommended_rank, Source.recommended_ranks_i18n.invert %>
              </div>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
        <% end %>
          
    </div>
  </div>
</div>
<%
=end %>