  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>SourceReview</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <span class="u h7 text-white strong mr-3">
            ようこそ！<%= current_customer.nickname %>さん！
          </span>
          <li>
            <%=  link_to notices_path,class: 'nav-link text-light' do %>
              <% if unchecked_notices.any? %>
                <i class="far fa-bell" style="color: tomato;"></i>Notice
              <% else %>
                <i class="fas fa-check" style="color: white;"></i>Notice
              <% end %>
            <% end %>
          </li>
          <li>
            <%=  link_to new_source_path,class: 'nav-link text-light' do %>
              <i class="fas fa-plus"></i> 投稿する
            <% end %>
          </li>
          <li>
            <%=  link_to customers_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> 投稿者一覧
            <% end %>
          </li>
          <li>
            <%=  link_to sources_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-rss"></i> 情報ソース一覧
            <% end %>
          </li>
<%
=begin %>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
<%
=end %>
          <li>
            <div class="dropdown">
              <button class="btn  text-light dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-home"></i> マイページ</button>
              <div class="dropdown-menu">
                <%= link_to "マイページ",customer_path(current_customer),class: 'dropdown-item',data: {"turbolinks" => false} %>
                <p></p>
                <%=link_to"いいねした情報ソース",likes_customer_path(current_customer),class:"dropdown-item",data: {"turbolinks" => false} %>
                <p></p>
                <%= link_to '投稿済情報ソース一覧', customer_path(current_customer, sort_post: "true"),class:"dropdown-item",data: {"turbolinks" => false} %>
                <p></p>
                <%= link_to '下書きの情報ソース一覧', customer_path(current_customer, sort_draft: "true"),class:"dropdown-item",data: {"turbolinks" => false} %>
                <p></p>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"dropdown-item",data: {"turbolinks" => false} %>
              </div>
            </div>
          </li>
        <% else %>
          <span class="u h7 text-white strong">
            ようこそ！ゲストさん！
          </span>
          <li>
            <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
          </li>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> home
            <% end %>
          </li>
          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>