  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>SourceReview</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <% if customer_signed_in? %>
          <li><span class='nav-link text-light'>
            ようこそ！<%= current_customer.nickname %>さん！
            </span>
          </li>
          <li>
            <%=  link_to notices_path,class: 'nav-link text-light' do %>
              <% if unchecked_notices.any? %>
                <i class="far fa-bell" style="color: tomato;"></i>通知
              <% else %>
                <i class="fas fa-check" style="color: white;"></i>通知
              <% end %>
            <% end %>
          </li>
          <li>
            <%=  link_to new_source_path,class: 'nav-link text-light' do %>
              <i class="fas fa-plus"></i> 投稿する
            <% end %>
          </li>
          <li>
            <%=  link_to customers_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> 投稿者一覧
            <% end %>
          </li>
          <li>
            <%=  link_to sources_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-rss"></i> 情報ソース一覧
            <% end %>
          </li>
          <li>
            <div class="dropdown">
              <button class="btn text-light dropdown-toggle" id="hoge"  type="button" data-bs-toggle="dropdown"><i class="fas fa-home"></i> マイページ</button>
              <div class="dropdown-menu" id="foo">
                <%=link_to"お気に入り",customer_path(current_customer, sort_like: "true"),class:"dropdown-item" %>
                <p></p>
                <%= link_to '投稿済', customer_path(current_customer, sort_post: "true"),class:"dropdown-item" %>
                <p></p>
                <%= link_to '下書き', customer_path(current_customer, sort_draft: "true"),class:"dropdown-item" %>
                <p></p>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"dropdown-item" %>
                <p></p>
                <%= link_to "退会する", withdraw_confirm_customer_path(current_customer), class: "dropdown-item" %>
              </div>
            </div>
          </li>
        <% else %>
          <li><span class='nav-link text-light'>
            ようこそ！ゲストさん！
            </span>
          </li>
          <li>
            <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "nav-link text-light", method: :post %>
          </li>
          <li>
            <%= link_to root_path,class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> home
            <% end %>
          </li>
          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
        
        
        
      </div>
    </div>
  </nav>